.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blur-dark-bg);
  backdrop-filter: blur(var(--blur-sm));
  z-index: 1;
  display: none;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  width: 90vw;
  padding: var(--spacing-3);
  border-radius: 8px;
  background-color: #fff;
  z-index: 2;
}

.modal-content > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form,
form > .form-group {
  display: flex;
  flex-direction: column;
}

form {
  gap: 1rem;
}
